html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(image/26616288.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'メイリオ', serif;
}
body a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
.home-side{
    position: fixed;
    top: 0;
    right: 0;
    height: 80%;
    width: 15%;
    box-sizing: border-box;
    background-color: rgb(77, 254, 228);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10px;
    margin: 0;
}
.home-main{
    color: rgb(42, 65, 75);
    width: 85%;
    margin-right: 15%;
    margin-bottom: 80px;
}
.home-side ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}
.home-side a{
    padding: 10px;
    box-sizing: border-box;
    color: rgb(44, 96, 108);
    display: inline-block;
    width: 100%;
    transition: all 0.3s;
    border-radius: 5px;
}
.home-side a:hover{
    background-color: rgb(97, 99, 156);
    color: rgb(182, 226, 255);
    transition: all 0.6s;
    border-radius: 5px;
}
.main-content{
    color: rgb(42, 65, 75);
    margin: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.main-content .title{
    background-image: url(image/background-4876985_1280.jpg);
    background-size: 100%;
    color: rgb(44, 96, 108);
    text-align: center;
    padding: 20px;
    margin: 15px auto 40px auto;
    width: 60%;
    height: 100px;
    box-sizing: border-box;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 0.4s;
}
.main-content .title:hover{
    transform: scale(1.08);
    transition: all 0.8s;
}
.main-content .fav-title{
    width: 50%;
    background-color: #eafff582;
    margin: 15px auto 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.main-content .fav-title:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.contents{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.personal{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main h2{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
.introduction{
    background-color: aliceblue;
    width: 40%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1.5px solid rgb(38, 58, 78);
    box-sizing: border-box;
    transition: all 0.5s;
}
.introduction:hover{
    border-color: rgb(0, 200, 255);
    color: #0065a4;
    box-shadow: 0 0 15px rgb(157, 183, 179);
    transition: all 0.5s;
}
.introduction .top{
    margin: 10px auto;
    text-align: center;
}
.introduction .start{
    display: flex;
    align-items: start;
}
.introduction .end{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.introduction p{
    margin: 0;
    margin-top: 20px;
}
.introduction h2{
    margin: 0;
}
.main-ct{
    background-color: #f3fff9;
    width: 320px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(167, 217, 205);
    border-radius: 10px;
    transition: all 0.4s;
}
.main-ct h2, p{
    margin: 10px auto;
    text-align: center;
    color: rgb(41, 67, 90)
}
.main-ct:hover{
    background-color: rgb(195, 255, 235);
    transform: scale(1.05);
    transition: all 0.8s;
}
.main-ct img{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.from-ct{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.from-ct p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.772);
    width: 80%;
}
.from-ct h1{
    width: 50%;
    background-color: #eafff582;
    margin: 15px auto 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.from-ct h1:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.from-img{
    background-color: rgba(245, 255, 252, 0.838);
    margin: 10px auto 10px auto;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s;
}
.from-img:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.from-img img{
    height: 250px;
    width: 300px;
}
.local-ct{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.local-ct p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.772);
    width: 80%;
}
.local-ct h1{
    width: 50%;
    background-color: #eafff582;
    margin: 15px auto 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.local-ct h1:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.local-img{
    background-color: rgba(245, 255, 252, 0.838);
    margin: 10px auto 10px auto;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s;
}
.local-img:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.local-img img{
    height: 250px;
    width: 300px;
}
.content{
    background-color: #f3fff9;
    width: 29%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0 rgb(0, 255, 225);
    box-sizing: border-box;
    border: 1px solid rgb(166, 193, 191);
    transition: all 0.3s;
}
.content a{
    color: rgb(42, 65, 75);
}
.content:hover{
    background-color: #e4ffd7;
    box-shadow: -10px -10px 0 rgb(0, 255, 225);
    transform: scale(0.95);
    transition: all 0.8s;
}
.content iframe{
    width: 100%;
}
.content img:not(.icon){
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    height: auto;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hobby-ct{
    width: 95%;
    background-color: rgba(255, 247, 242, 0.854);
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.hobby-ct:hover{
    background-color: #faffecc9;
    transform: scale(1.025);
    transition: all 0.6s;
}
.hobby-text{
    width: 65%;
    margin-left: 0;
}
.text-ct h2{
    text-align: center;
    transition: all 0.2s;
}
.text-ct h2:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.text-ct p a{
    color: rgb(46, 170, 89);
}
.text-ct p a:hover{
    text-decoration: underline;
}
.hobby-title{
    width: 50%;
    margin: 15px auto 30px auto;
    padding: 10px;
    text-align: center;
    background-color: #eafff582;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.hobby-title:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.hobby-img{
    width: 35%;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hobby-img img:not(#you-icon){
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;
}
#you-icon{
    width: 150px;
    height: auto;
    margin: 5px;
    border-radius: 75px;
    transition: all 0.3s;
}
.hobby-img img:hover{
    transform: scale(1.055);
    transition: all 0.6s;
}
.my-ct{
    width: 95%;
    background-color: rgba(255, 247, 242, 0.854);
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.my-ct:hover{
    background-color: #faffecc9;
    transform: scale(1.025);
    transition: all 0.6s;
}
.my-text{
    width: 65%;
    margin-left: 0;
}
.my-title{
    width: 50%;
    margin: 15px auto 30px auto;
    padding: 10px;
    text-align: center;
    background-color: #eafff582;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.my-title:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.my-img{
    width: 35%;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.my-img img{
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;
    border-radius: 10px;
}
.my-img img:hover{
    transform: scale(2);
    transition: all 0.6s;
    box-shadow: 0 0 10px rgb(255, 193, 60);
}
.etc-ct{
    width: 100%;
    margin-top: 15px;
}
.etc-ct h1{
    width: 50%;
    background-color: #eafff582;
    margin: 5px auto 50px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.etc-ct h1:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.etc-ct h3{
    text-align: center;
    margin-top: 60px;
}
.etc-ct a{
    display: inline;
    color: rgb(41, 67, 90);
}
.etc-ct a:hover{
    text-decoration: underline;
}
footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
}



/* レスポンシブデザイン */

@media screen and (max-width: 780px) {
    .home-side {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    }

    .home-side ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px;
        justify-content: center;
    }

    .home-side li {
        margin: 5px;
    }

    .home-main {
        width: 100%;
        margin-right: 0;
    }

    .main-content, .main-content2 {
        flex-direction: column;
        align-items: center;
    }
    
    .main-content .title{
        font-size: 25px;
    }

    .content {
        width: 90%;
        margin: 10px auto;
    }

    .introduction {
        width: 90%;
    }

    .main-ct {
        width: 90%;
    }

    .hobby-ct {
        flex-direction: column; /* 縦並びに変更 */
        width: 95%;
        margin: 15px auto;
    }

    .hobby-ct p {
        width: 80%;
    }

    .hobby-text, .hobby-img {
        width: 100%;
        text-align: center;
    }

    .hobby-img img:not(#anst, #you-icon) {
        height: 220px;
        width: auto;
        margin: 5px;
    }
    #you-icon{
        width: 150px;
        height: auto;
        border-radius: 75px;
    }
    #anst{
        height: 200px;
        width: auto;
    }
    
    .my-ct {
        flex-direction: column;
    }

    .my-text, .my-img {
        width: 100%;
        text-align: center;
    }

    .my-img img {
        width: 45%;
        height: auto;
    }
    .my-img img:hover {
        transform: scale(1.15);
    }

    .home-side {
        position: static; /* 通常のレイアウトに戻す */
        width: 100%;
        height: auto;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-main {
        width: 100%;
        margin: 0;
        margin-bottom: 60px;
    }

    .main, .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .content {
        width: 90%;
        margin: 10px 0;
    }

    iframe {
        height: 200px;
    }
}